@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Light.eot");
  src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agora Slab Pro';
  src: url("../fonts/PFAgoraSlabPro-BoldItalic.eot");
  src: url("../fonts/PFAgoraSlabPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-BoldItalic.woff2") format("woff2"), url("../fonts/PFAgoraSlabPro-BoldItalic.woff") format("woff"), url("../fonts/PFAgoraSlabPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PF Agora Slab Pro';
  src: url("../fonts/PFAgoraSlabPro-Regular.eot");
  src: url("../fonts/PFAgoraSlabPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Regular.woff2") format("woff2"), url("../fonts/PFAgoraSlabPro-Regular.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agora Slab Pro';
  src: url("../fonts/PFAgoraSlabPro-Bold.eot");
  src: url("../fonts/PFAgoraSlabPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Bold.woff2") format("woff2"), url("../fonts/PFAgoraSlabPro-Bold.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Extra';
  src: url("../fonts/Circe-ExtraLight.eot");
  src: url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff2") format("woff2"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agora Serif Pro';
  src: url("../fonts/PFAgoraSerifPro-Italic.eot");
  src: url("../fonts/PFAgoraSerifPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSerifPro-Italic.woff2") format("woff2"), url("../fonts/PFAgoraSerifPro-Italic.woff") format("woff"), url("../fonts/PFAgoraSerifPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circe Extra';
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agora Serif Pro';
  src: url("../fonts/PFAgoraSerifPro-Bold.eot");
  src: url("../fonts/PFAgoraSerifPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSerifPro-Bold.woff2") format("woff2"), url("../fonts/PFAgoraSerifPro-Bold.woff") format("woff"), url("../fonts/PFAgoraSerifPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agora Serif Pro';
  src: url("../fonts/PFAgoraSerifPro-Regular.eot");
  src: url("../fonts/PFAgoraSerifPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSerifPro-Regular.woff2") format("woff2"), url("../fonts/PFAgoraSerifPro-Regular.woff") format("woff"), url("../fonts/PFAgoraSerifPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agora Serif Pro';
  src: url("../fonts/PFAgoraSerifPro-BoldItalic.eot");
  src: url("../fonts/PFAgoraSerifPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSerifPro-BoldItalic.woff2") format("woff2"), url("../fonts/PFAgoraSerifPro-BoldItalic.woff") format("woff"), url("../fonts/PFAgoraSerifPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
