ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  min-width: 180px;
  border: none;
  padding: 15px 42px;
  background-image: linear-gradient(30deg, #f5576c 0%, #f461ec 100%);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(30deg, #f461ec 0%, #f5576c 100%);
  outline: none;
}

.button:focus {
  text-decoration: none;
  color: #fff;
  outline: none;
}

.button:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.button--buy {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  padding: 15px 50px;
  height: 60px;
  max-width: 230px;
}

.button--buy:before {
  content: "";
  display: block;
  width: 242px;
  height: 70px;
  position: absolute;
  left: -12px;
  top: -34px;
  background-image: url("../img/snow.png");
  background-size: cover;
}

.button--found {
  max-width: 270px;
}

.button--found:before {
  width: 290px;
  height: 80px;
  position: absolute;
  left: -13px;
  top: -42px;
}

.base-title {
  text-align: center;
}

.button--surpise {
  max-width: 400px;
  padding-left: 0;
  padding-right: 0;
}

.button--surpise:before {
  width: 420px;
  height: 80px;
  position: absolute;
  left: -13px;
  top: -40px;
  background-image: url("../img/show2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body .mfp-bg {
  background-color: #36a6cb;
  opacity: 0.53;
}

body .mfp-close-btn-in .mfp-close {
  width: 50px;
  height: 50px;
  background-image: url("../img/close.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 122px;
  font-weight: 100;
  top: -65px;
  left: 50%;
  font-size: 0;
  transform: translateX(-50%);
  opacity: 1;
}

.base-popup {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 650px;
  min-height: 400px;
  box-shadow: -13px -2px 13px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.base-popup .popup-text {
  font-size: 24px;
}

.base-popup .popup-text span {
  font-weight: bold;
}

.close-popup {
  color: #f5576c;
  font-weight: bold;
  padding-bottom: 30px;
}

.close-popup:hover {
  cursor: pointer;
}

.popup-icon {
  margin-bottom: 20px;
}

.popup-text {
  margin-bottom: 20px;
}

.button-popup {
  margin-bottom: 20px;
}

.main-popup {
  text-align: left;
  padding: 50px;
  width: 100%;
  height: 100%;
  max-width: 900px;
  top: 30px;
}

.main-popup .main-popup-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.wizard-header {
  margin-bottom: 20px;
}

.wizard-step-indicator {
  margin-right: 30px;
}

.wizard-step-indicator.active a {
  font-weight: bold;
}

.wizard-step-indicator a {
  font-size: 16px;
  color: #000;
  display: inline-block;
}

.wizard-step-indicator a .icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ff008a;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  margin-right: 10px;
}

.cart-message {
  font-size: 24px;
  margin-bottom: 15px;
}

.cart__info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid #cdcdcd;
}

.cart__info .info__total {
  margin-right: 80px;
}

.cart__info .info__count {
  margin-left: 30%;
}

.name-product {
  display: inline-block;
  font-size: 24px;
  width: 45%;
}

#show-cart {
  margin-bottom: 20px;
}

#show-cart li {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
}

#show-cart li:last-child {
  border-bottom: none;
}

#show-cart li .delete-item {
  background-image: url("../img/close-count.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 20px;
  height: 20px;
  position: relative;
  top: -3px;
}

#show-cart li .price {
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
}

#show-cart li .total-price {
  font-size: 24px;
  font-weight: bold;
}

#show-cart .count-wrap {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0 5px;
}

#show-cart .count-wrap span {
  display: inline-block;
  padding: 0 5px;
  padding-left: 7px;
  font-weight: bold;
}

#show-cart button {
  background-color: transparent;
  border: none;
  color: #f5576c;
  font-weight: bold;
}

.cart-content {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wizard-content {
  overflow: initial;
  overflow-x: hidden;
  min-height: 350px;
}

.total-base {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.total-base i {
  font-style: normal;
}

.clear-cart {
  display: block;
  text-align: center;
  color: #f5576c;
  font-family: 'Circe Extra';
  font-size: 16px;
  font-weight: bold;
}

.clear-cart:hover {
  color: #f5576c;
}

.cart-buttons-wrap {
  text-align: center;
}

.cart-buttons-wrap .button {
  margin-bottom: 15px;
}

body {
  font-family: 'Circe';
  font-weight: normal;
  font-size: 16px;
  color: #000;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #fff;
}

.hidden {
  display: none;
}

.row {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  min-height: 700px;
  position: relative;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: top center;
}

.header__top {
  padding-top: 20px;
}

.header__address {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
}

.header__address .button {
  margin-right: 30px;
}

.header__address address {
  display: flex;
  text-align: left;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.header__address address .address-icon {
  margin-right: 10px;
}

.phone-block {
  padding-top: 10px;
}

.phone-block a {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.phone-block span {
  font-size: 14px;
  font-weight: 300;
}

.logo {
  display: inline-block;
}

.headder__menu {
  display: flex;
  align-items: center;
  padding-top: 2%;
}

ul.achors li {
  margin-right: 10%;
}

ul.achors li a {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

ul.achors .forHer a {
  color: #f5576c;
}

ul.achors .forHim a {
  color: #00b6f2;
}

.menu-wrap {
  display: flex;
  align-items: center;
}

.menu a {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
  color: #000;
}

#cart {
  width: 135px;
  justify-content: flex-end;
  display: flex;
  font-size: 18px;
  color: #000;
  font-family: 'Circe Extra';
  font-weight: 800;
}

#cart .cart__icon {
  margin-right: 7px;
}

.header__title {
  text-align: center;
  font-size: 60px;
  font-family: 'PF Agora Slab Pro';
  line-height: 50px;
  padding-top: 5%;
  background-image: url(../img/header-title-bg.png);
  background-repeat: no-repeat;
  background-position: 78% 27%;
  position: relative;
  z-index: 10;
}

.header__title span {
  font-size: 36px;
  line-height: 40px;
  line-height: 0;
}

.header__text {
  font-family: 'Circe Extra';
  font-weight: 800;
  opacity: 0.07;
  font-size: 70px;
  margin-top: -65px;
}

.header__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 10%;
}

.promo__item {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__item:hover svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80%) rotate(-65deg) scale(1.8);
  top: 0;
}

.promo__item .promo__icon {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}

.promo__item .promo__icon .text {
  color: #f5576c;
  font-size: 36px;
  font-weight: 300;
  position: relative;
  top: 10px;
}

.promo__item svg {
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all 0.3s ease;
}

.promo__item .promo__text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  line-height: 20px;
  padding: 5% 10%;
}

/* Main content */
.content {
  background-image: url("../img/crist-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.checkbox__filter {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.checkbox__filter form {
  display: flex;
  justify-content: center;
}

.flter__item {
  width: 240px;
  position: relative;
  margin: 0 10px;
}

.flter__item:hover {
  cursor: pointer;
}

.flter__item input {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.flter__item input:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -5px;
  top: -10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
}

.flter__item label {
  width: 240px;
  height: 100%;
  text-align: center;
  padding: 33px 40px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 21px;
  border-radius: 50px;
  min-width: 180px;
  border: none;
  background-color: #f6f4ec;
  transition: all 0.3s ease-in-out;
}

.flter__item label:hover {
  cursor: pointer;
}

.flter__item label span {
  display: inline-block;
  padding-left: 20px;
}

.flter__item label.active {
  width: 240px;
  height: 100%;
  text-align: center;
  padding: 33px 40px;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 21px;
  border-radius: 50px;
  min-width: 180px;
  border: none;
  background-color: #f6f4ec;
  background-image: linear-gradient(30deg, #f5576c 0%, #f461ec 100%);
  transition: all 0.3s ease-in-out;
}

.flter__item label.active:before {
  content: "";
  display: block;
  width: 242px;
  height: 70px;
  position: absolute;
  left: -8px;
  top: -25px;
  background-image: url("../img/snow.png");
  background-size: cover;
}

.flter__item label.active span {
  display: inline-block;
  padding-left: 20px;
}

.products {
  padding-top: 70px;
}

.products__filter {
  padding-bottom: 40px;
}

.products__filter li {
  display: inline-block;
  margin-right: 30px;
  border-bottom: 1px solid transparent;
}

.products__filter li:hover {
  cursor: pointer;
  border-bottom: 1px dotted #000;
}

.products__filter li span {
  display: inline-block;
  margin-left: 5px;
  color: #b1b1b1;
}

.margin--top {
  margin-top: -150px;
}

.product {
  margin-bottom: 30px;
}

.product .container {
  padding-bottom: 40px;
  position: relative;
}

.product__bg {
  position: absolute;
  right: -5%;
  top: -20%;
  z-index: 1;
}

#product-3 {
  position: relative;
  z-index: 12;
}

#product-3 .product__bg {
  position: absolute;
  right: -5%;
  top: -250px;
  z-index: 1;
}

#product-4 {
  background-image: url("../img/product-odd-bg.png");
  position: relative;
  z-index: 13;
}

.product--odd {
  background-image: url("../img/product-odd-bg-girl.png");
  background-size: cover;
  background-position: 70% 50%;
  position: relative;
  padding-bottom: 250px;
  padding-top: 150px;
  margin-top: -70px;
  z-index: 11;
}

.product--odd .container .product__bg {
  position: absolute;
  left: -5%;
  top: -20%;
  z-index: 1;
}

.product--odd .container .product__image {
  text-align: right;
  position: relative;
  z-index: 0;
  top: 50px;
}

.product--odd .container .product__image img {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.product__title {
  font-size: 48px;
  line-height: 50px;
  font-family: 'PF Agora Slab Pro';
  font-weight: bold;
}

.product__price,
.product__buy {
  display: flex;
  align-items: center;
}

.product__price {
  padding: 30px 0 35px 0;
}

.product__price .price__old {
  font-size: 30px;
  line-height: 30px;
  text-decoration: line-through;
  margin-right: 18px;
}

.product__price .price__new {
  color: #ea2a44;
  font-family: 'Circe Extra';
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
}

.product__list {
  padding: 25px 0;
}

.product__list .product__item {
  display: block;
  line-height: 30px;
  position: relative;
  margin-bottom: 10px;
}

.product__list .product__item .item__number {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #82c4e3;
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-right: 20px;
}

.product__bonus span {
  display: inline-block;
  color: #ea2a44;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  border-bottom: 1px dotted #ea2a44;
}

.buy-one-click {
  display: inline-block;
  color: #ea2a44;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px dotted #ea2a44;
  margin-left: 30px;
}

.buy-one-click:hover {
  text-decoration: none;
  color: #ea2a44;
}

.buy-one-click:focus {
  text-decoration: none;
  color: #ea2a44;
}

#show-all {
  text-align: center;
  padding: 30px 0;
  background-image: url("../img/icon-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #ea2a44;
  font-size: 22px;
}

#show-all:hover {
  cursor: pointer;
}

.notfind {
  padding: 150px 0;
  padding-bottom: 250px;
  background: url(../img/notfind.jpg) no-repeat 500px 50%, url(../img/love-bg.png) no-repeat -200px -20%, url(../img/plus-bg.png) no-repeat 30% 90%;
}

.notfind__title, .base-title {
  font-size: 45px;
  font-family: 'PF Agora Serif Pro';
  line-height: 50px;
  margin-bottom: 30px;
}

.notfind__text {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 50px;
}

.inted {
  padding: 150px 0;
  padding-bottom: 150px;
  background: url(../img/bg3.jpg) no-repeat 500px 50%;
  margin-top: -55px;
  margin-bottom: 50px;
}

.inted__title, .base-title {
  font-size: 45px;
  font-family: 'PF Agora Serif Pro';
  line-height: 50px;
  margin-bottom: 30px;
}

.inted__text {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 50px;
}

.discussion {
  padding: 150px 0;
  padding-bottom: 150px;
  margin-bottom: 50px;
  background: url(../img/bg-4.jpg) no-repeat 500px 50%, url(../img/love-bg2.png) no-repeat -200px -20%;
}

.discussion__title, .base-title {
  font-size: 45px;
  font-family: 'PF Agora Serif Pro';
  line-height: 50px;
  margin-bottom: 30px;
}

.discussion__text {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 50px;
}

.packaging {
  padding-bottom: 50px;
}

.packaging .base-title {
  margin-bottom: 50px;
}

.packaging__item {
  text-align: center;
  padding-bottom: 50px;
  background-image: url("../img/plus-bg2.png");
  background-repeat: no-repeat;
  background-position: 50% 90%;
}

.packaging__item .packaging__img {
  margin-bottom: 100px;
}

.packaging__item .packaging__img img {
  max-width: 100%;
  height: 300px;
}

.packaging__item .one--img img {
  height: 310px;
  position: relative;
  left: -40px;
}

.packaging__item .two--img img {
  position: relative;
  right: -40px;
}

.packaging__item .packaging__text {
  margin-bottom: 80px;
  font-size: 24px;
  padding: 0 10%;
  line-height: 30px;
}

.confidentiality .base-title {
  text-align: left;
}

.confidentiality__text {
  font-size: 24px;
  line-height: 30px;
}

.confidentiality__content {
  margin-top: 50px;
}

.confidentiality__content .content-text {
  text-align: center;
  padding: 0 5%;
}

.confidentiality__number {
  font-size: 75px;
  color: #000;
  font-family: 'Circe Extra';
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.15;
  position: relative;
}

.confidentiality__number:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  right: -45px;
  top: 40px;
  width: 84px;
  height: 26px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

.number--3:after {
  content: "";
  display: none;
}

.applications {
  padding: 200px 0;
  background-image: url("../img/select-bg.png");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
  margin-top: -150px;
}

.applications .base-title {
  color: #fff;
  padding-top: 130px;
  padding-bottom: 50px;
}

.applications__content {
  margin-top: 0px;
  min-width: 1000px;
}

.applications__item {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  line-height: 30px;
  margin-bottom: 40px;
}

.applications__item span {
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
}

.toys24 {
  background-image: url("../img/nabor-bg.png");
  background-size: cover;
  background-position: top center;
  margin-top: -150px;
  position: relative;
  z-index: 5;
}

.toys24 .base-title {
  margin-bottom: 60px;
  padding-top: 70px;
}

.toys24__item {
  display: flex;
  margin-bottom: 50px;
  min-height: 132px;
}

.toys24__icon {
  width: 130px;
  margin-right: 20px;
  margin-top: 5px;
}

.toys24__icon img {
  max-width: 100%;
}

.toys24__title {
  font-size: 23px;
  font-weight: 700;
}

.toys24__text {
  font-size: 18px;
  line-height: 24px;
  padding-right: 5%;
}

.delivery .base-title {
  margin-bottom: 50px;
}

.delivery__item {
  text-align: center;
  padding: 0 5%;
}

.delivery__item .delivery__icon {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.delivery__item .delivery__icon .anonim {
  width: 90px;
  height: 90px;
  background-color: #f6f4ec;
  border-radius: 50%;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  right: -50px;
  padding-top: 30px;
  top: -50px;
}

.delivery__item .delivery__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.delivery__item .delivery__text {
  font-size: 17px;
  padding: 20px 0;
  border-bottom: 2px dotted #ddd;
}

.delivery__item .delivery__text:last-child {
  border-bottom: none;
}

.delivery__item .delivery__text span {
  font-weight: bold;
}

.return {
  text-align: center;
  padding: 70px 0;
  background-image: url("../img/icon-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 40%;
}

.return .return__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.surpise {
  padding-bottom: 60px;
  background-image: url(../img/bg-5.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.surpise .surpise__title {
  text-align: left;
}

.surpise .surpise__text {
  margin-bottom: 40px;
}

.reviews {
  padding: 50px 0;
}

.slider {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
}

.slider__item {
  width: 100%;
  text-align: center;
  margin: 0 20px;
  padding: 0 10px;
}

.slider__item .slider__name {
  font-weight: bold;
  margin-bottom: 20px;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -55px;
  display: block;
  width: 100px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border: none;
}

.slick-prev {
  left: 100px;
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev:hover, .slick-prev:focus {
  color: transparent;
  outline: none;
}

.slick-next {
  background-image: url("../img/arrow-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before {
  opacity: 1;
}

.slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 100px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '';
  width: 59px;
  height: 59px;
  position: absolute;
  top: -14px;
  left: -5px;
  display: block;
  background-image: url("../img/k.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

[dir='rtl'] .slick-prev:before {
  content: '';
}

.slick-next {
  right: 100px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '';
  width: 59px;
  height: 59px;
  position: absolute;
  top: -14px;
  right: -5px;
  display: block;
  background-image: url("../img/k.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

[dir='rtl'] .slick-next:before {
  content: '';
}

.contact {
  position: relative;
}

.contact .contact__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contact .contact__content .base-title {
  text-align: left;
}

.contact .contact__content .contact__item {
  width: 300px;
  margin-right: 20px;
}

.contact .phone-block {
  margin-bottom: 20px;
}

.contact .phone-block a {
  font-size: 30px;
}

.contact .addreess {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.contact .addreess span {
  font-size: 18px;
}

.contact__item {
  margin-bottom: 40px;
}

.social__list {
  text-align: right;
  padding: 10px 0;
  padding-bottom: 33px;
}

.social__list li {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}

.social__list li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #999;
}

.social__list li a:hover {
  background-color: #333;
  text-align: center;
}

.social__list li a .fa {
  font-size: 20px;
  line-height: 36px;
  color: #fff;
}

.contact {
  position: relative;
}

.form__contact {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.form__contact .form__title {
  width: 100%;
  font-size: 30px;
  font-family: 'PF Agora Serif Pro';
}

.form__contact input {
  border: none;
  width: 40%;
  padding: 15px;
  padding-left: 0;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}

.form__contact input:focus {
  outline: none;
}

.form__contact .email {
  width: 50%;
}

.form__contact textarea {
  width: 100%;
  border: none;
  min-height: 50px;
  border-bottom: 1px solid #000;
  margin-bottom: 60px;
}

.form__contact textarea:focus {
  outline: none;
}

#map {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
}

#map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer {
  padding: 30px 0;
}

footer .copyright {
  padding-top: 5px;
}

.limitation {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.limitation__item {
  display: inline-block;
}

.limitation__item div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 20px;
}

.limitation__item .icon {
  width: 41px;
  margin-right: 10px;
  height: 41px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 43px;
  background-image: linear-gradient(30deg, #f5576c 0%, #f461ec 100%);
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

:-ms-input-placeholder {
  color: #222;
}

:-moz-placeholder {
  color: #222;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  .confidentiality__number:after {
    content: "";
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
