@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/load.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #333;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #626262;
  font-size: 16px;
}

section {
  position: relative;
  padding: 20px 0;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.125em;
  margin: 30px 0;
  text-align: center;
  color: #1c1e26;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

/* ---------- Header style ------------*/
.header {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
  top: 0;
  text-align: center;
  z-index: 1000;
  font-size: 1.5em;
}

.header-title-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.header-title {
  position: absolute;
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  top: 48%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.header-title .hello {
  color: #fff;
  font-size: 120%;
}

.header-title h1 {
  font-size: 200%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  letter-spacing: 5px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.header-title p {
  font-family: "RobotoLight";
  font-size: 55%;
  font-weight: bold;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 2px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.header-video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: white;
}

video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

/* Header Button */
.btn-wrap {
  position: absolute;
  top: 66%;
  left: 50%;
  margin-left: -116px;
  z-index: 100;
  cursor: pointer;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.btn-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e52a35;
  border-radius: 8px;
  height: 2.3em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #e52a35;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 2.3em;
  background-color: transparent;
  z-index: 100;
}

.btn-scroll::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 30%;
  display: block;
  width: 20em;
  height: 2.3em;
  line-height: 2.3em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-scroll:hover {
  color: #fff;
  text-decoration: none;
}

.btn-scroll:hover::before {
  box-shadow: inset 0 0 0 15em #e52a35;
}

.logo-container {
  position: absolute;
  top: 40px;
  left: 10%;
  width: 65px;
  height: 65px;
  z-index: 1000;
}

.logo-container a {
  display: inline-block;
}

.logo-container a img {
  max-width: 100%;
  width: 65px;
  height: 65px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

/* ----------- Navigation style --------------- */
.menu-container {
  z-index: 2000;
  position: relative;
}

.btn_wrap {
  position: relative;
  top: 18px;
}

.button_container {
  position: fixed;
  top: 40px;
  right: 10%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button_container::after {
  content: '';
  position: absolute;
  left: -17px;
  top: 40px;
  width: 100px;
  height: 75px;
  background-size: 100%;
}

.button_container:hover {
  opacity: .9;
}

.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  -ms-transform: translateY(10px) translateX(0) rotate(45deg);
      transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
      transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #e52a35;
  border: none;
  height: 3px;
  width: 35px;
  line-height: 60px;
  position: absolute;
  top: 0px;
  left: 20%;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 10px;
}

.button_container span:nth-of-type(3) {
  top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;
}

.overlay:before {
  content: '';
  background: #e52a35;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: left 0.35s ease;
  transition: left 0.35s ease;
}

.overlay:after {
  content: '';
  background: #e52a35;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open:before {
  left: 0;
}

.overlay.open:after {
  right: 0;
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
  animation-delay: .55s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
  animation-delay: .65s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: -webkit-calc(100% / 4);
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  font-size: 60px;
  font-family: "Lato", sans-serif;
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  height: 3px;
  background: #fff;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* ----- Navigation End ----- */
/* --------- Section About ------------ */
.about {
  background-color: #f8f8f8;
  text-align: center;
  padding-bottom: 7%;
}

.about h3 {
  font-size: 30px;
  color: #e52a35;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about p {
  text-align: justify;
  padding-bottom: 3%;
}

.foto-wrap {
  text-align: center;
  display: inline-block;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.foto {
  display: block;
  margin: 20px 0 0 20px;
  width: 280px;
  height: 335px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(22, 22, 22, 0.55);
}

.foto img {
  max-width: 100%;
}

.about-item {
  padding: 0 5%;
}

.button-download {
  display: inline-block;
  font-weight: bold;
}

.button-download:hover, .button-download:active, .button-download:visited {
  color: #e52a35;
}

.hobby ul li {
  display: inline-block;
  text-align: center;
  margin-right: 5%;
  color: #000;
}

.hobby img {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.button-download {
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e52a35;
  border-radius: 8px;
  height: 2.4em;
  width: 13em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #e52a35;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 2.4em;
  background-color: transparent;
  z-index: 100;
}

.button-download::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.button-download:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e52a35;
}

.button-download:hover::before {
  box-shadow: inset 0 0 0 10em #e52a35;
}

/*--------------- Section Skills-Services ----------------------*/
.services {
  background-color: #fff;
  padding-bottom: 7%;
}

.services h2 {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.services span {
  color: #e52a35;
}

.services-item h4 {
  text-align: center;
}

.services-item:hover .icon-wrap {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.services-item:hover .icon-wrap .icon-back img {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.services-item .icon-wrap {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 135px;
  height: 135px;
  line-height: 135px;
  border-radius: 10em;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.services-item .icon-wrap .icon-front, .services-item .icon-wrap .icon-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 135px;
  line-height: 135px;
  border-radius: 10em;
}

.services-item .icon-wrap .icon-front {
  background-color: #e52a35;
}

.services-item .icon-wrap .icon-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #e52a35;
  border-radius: 10em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.services-item .icon-wrap .icon-back img {
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.services-item .icon-wrap img {
  max-width: 100%;
  width: 85px;
  height: 85px;
}

.item-first {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.item-second {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.item-third {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.item-fouth {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/*------------- Section Work. -------------------*/
.section-work {
  height: 550px;
  position: relative;
  padding: 0;
}

.section-work .work-header, .section-work .work-header-descr {
  text-align: center;
  color: #ffffff;
  z-index: 100;
  position: relative;
}

.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  position: fixed;
  top: -300;
  z-index: -100;
}

.crt-parallaxvideo {
  height: 600px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.crt-parallaxvideo video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -100;
}

.section-work .work-header {
  margin: 0 auto;
  line-height: 60px;
  padding: 5% 0 1% 0;
  color: #fff;
}

.section-work .work-header-descr {
  color: #e52a35;
  font-weight: bold;
  font-size: 28px;
}

.section-work .descr {
  display: block;
  width: 90%;
  max-width: 650px;
  margin: 40px auto 0px auto;
  padding: 20px 50px;
  border-left: 1px solid #e52a35;
  color: #FFF;
  font-size: 22px;
  line-height: 36px;
  font-weight: 300;
  font-family: "museo-slab",serif;
  letter-spacing: 2px;
  font-style: italic;
  text-align: left;
  z-index: 100;
  position: relative;
}

/*-----------------------  Portfolio Section -------------------------*/
.portfolio {
  background-color: #f8f8f8;
  padding-bottom: 5%;
}

.portfolio .sorting {
  margin: 0;
  padding: 4% 0 5% 0;
  text-align: center;
  font-family: "Karla";
  font-weight: 700;
}

.portfolio .sorting li {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.portfolio .sorting li.active {
  border-bottom: 5px solid #e52a35;
}

#portfolio-grid .mix {
  display: none;
}

.portfolio-item {
  background: #fff;
  padding: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.portfolio-item a {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-item a img {
  width: 100%;
  display: block;
  position: relative;
}

.portfolio-item a .item-hover {
  position: absolute;
  background: #333;
  background: rgba(229, 42, 53, 0.9);
  width: 100%;
  height: 100%;
}

.portfolio-item a .item-hover .review {
  text-align: center;
  font-weight: bold;
  box-shadow: none;
}

.portfolio-item a .item-hover .review:hover {
  text-decoration: underline;
}

.portfolio-item a .item-hover span {
  font-weight: bold;
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255, 255, 255, 0.3);
}

/* Popup content */
.item-descr {
  background-color: #222;
  max-width: 700px;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding-bottom: 20px;
}

.item-descr h3, .item-descr p {
  padding: 1% 8%;
  margin: 5px 0;
  z-index: 200;
}

.item-descr p {
  padding-bottom: 4%;
  font-size: 17px;
}

.item-descr h3 {
  text-align: center;
  font-size: 22px;
}

.item-descr img {
  max-width: 100%;
}

.item-descr .visit-btn-wrap {
  text-align: center;
}

.item-descr .visit-btn-wrap .visit {
  display: inline-block;
  text-align: center;
  padding: 4px 45px;
  border-radius: 8px;
  font-weight: bold;
  color: #e52a35;
  border: 1px solid #e52a35;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.item-descr .visit-btn-wrap .visit:hover {
  background-color: #e52a35;
  color: #fff;
  text-decoration: none;
}

.popup-content:visit {
  outline: none;
}

/* overlay animate in */
/* overlay animate out */
/* content at start */
/* content animate it */
/* content animate out */
/*---------------------Contact Section---------------------------*/
.contact {
  background-color: #1c1e26;
}

.contact h2 {
  color: #fff;
}

.textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  font-weight: 600;
  resize: none;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #494e57;
  padding: 10px;
  background-color: #494e57;
}

.textarea:focus {
  background-color: #fff;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS*/
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 0em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 90.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* Kozakura */
.input--kozakura {
  overflow: hidden;
  padding-bottom: 1em;
}

.input__field--kozakura {
  padding: 0.25em 0.5em;
  margin-top: 1.25em;
  width: 100%;
  background: transparent;
  color: #2F3238;
  font-size: 1.55em;
  opacity: 0;
}

.input__label--kozakura {
  width: 100%;
  text-align: left;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  padding: 0 0.25em;
  -webkit-transform: translate3d(1em, 2.75em, 0);
  transform: translate3d(1em, 2.75em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura {
  color: #A4A5A6;
  padding: 0.4em 0 0.25em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.graphic--kozakura {
  fill: #494E57;
  pointer-events: none;
  top: 1em;
  bottom: 0px;
  height: 4.5em;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
  transition: transform 0.7s, fill 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--kozakura:focus, .input--filled .input__field--kozakura {
  -webkit-transition: opacity 0s 0.35s;
  transition: opacity 0s 0.35s;
  opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura, .input--filled .input__label--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura, .input--filled .input__label-content--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura, .input--filled .graphic--kozakura {
  fill: #fff;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

.button-send-wrap {
  text-align: center;
}

.button-send-wrap .send-button {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  background-image: url("../img/send.svg");
  background-size: cover;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}

.button-send-wrap .send-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.button-send-wrap .send-button span {
  display: none;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #1c1e26;
  color: #fff;
  text-align: center;
  border-top: 1px solid #f8f8f8;
}

.footer p {
  margin: 0;
  padding: 1%;
  margin-bottom: 5px;
  color: #b2b2b2;
}

.footer .copyright {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.footer .social {
  margin-bottom: 10px;
}

.footer .social li {
  display: inline-block;
}

.footer .social li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #000;
  border: 2px solid  #d3c9a1;
  border-radius: 50%;
  margin: 5px;
  line-height: 50px;
}

.footer .social li a .fa {
  color: #d3c9a1;
  font-size: 23px;
}
