/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.services-item {
		margin-bottom: 30px;
	}
	.textarea {
		margin-top: 30px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

/* Header style */
	.header h1 {
		font-size: 150%;
		top: 45%
	}
	h2 {
		font-size: 220%;
	}
	.btn-wrap{
		top: 70%;
	}
	.overlay ul li a {
		font-size: 50px;
	}
	/* End Header style */


	.section-work .descr{
		margin: 25px auto 0 auto;
		font-size: 21px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header h1 {
		font-size: 150%;
		top: 45%
	}
	.header h1 i {
		letter-spacing: 0;
	}
	h2 {
		font-size: 220%;
	}
	.btn-wrap{
		top: 70%;
	}
	.overlay ul li a {
		font-size: 50px;
	}

	.section-work .descr{
		margin: 25px auto 0 auto;
		font-size: 20px;
		line-height: 26px;
		padding: 0 20px;
	}

	.about-item {
		padding:  0 2%;
	}
	.foto {
		margin: 0;
	}
	.hobby li {
		margin-bottom: 15px;
		display: inline-block;
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
