body {
  margin: 0;
  padding: 0;
}

body, .email-wrapper {
  background-color: #fafafa;
  font-family: "Helvetica" ,sans-serif;
  background-color: #d0d1cc;
  margin: 0;
  padding: 0;
}

.email-container {
  background-color: #fafafa;
  max-width: 600px;
  margin: 40px auto;
}

.email-container .email-header {
  min-height: 150px;
  background-color: #dfe5e8;
  padding: 20px;
  border-top: 3px solid #aaa;
  position: relative;
}

.email-container .email-header h1 {
  color: #333;
  font-size: 24px;
  font-weight: lighter;
  display: inline-block;
}

.email-container .email-header .fa {
  margin-right: 10px;
  font-size: 22px;
  display: inline-block;
}

.email-container .email-header .fa-phone-square {
  color: #009ddc;
}

.email-container .email-header .fa-envelope {
  color: #fcb827;
}

.email-container .email-header .fa-map-marker {
  color: #62bb47;
  font-size: 25px;
}

.email-container .email-header .phone, .email-container .email-header .mail, .email-container .email-header .map {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  display: inline-block;
}

.email-container .email-header .img-wrap {
  display: block;
  float: left;
  margin-right: 30px;
  width: 130px;
  height: 130px;
}

.email-container .email-header .img-wrap img {
  max-width: 100%;
  border-radius: 50%;
  border: 3px solid #aaa;
}

.social {
  float: right;
  padding-bottom: 20px;
  display: inline-block;
}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social a .fa {
  color: #333;
}

.email-content {
  padding: 20px;
  font-size: 14px;
}

.email-content table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.email-content table td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 5px;
}

.email-content table .title {
  font-weight: bold;
  width: 22%;
}

.email-portfolio {
  background-color: #dfe5e8;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  border-bottom: 3px solid #aaa;
}

.email-portfolio .portfolio-item {
  width: 250px;
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 30px;
}

.email-portfolio .portfolio-item img {
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.email-portfolio .portfolio-item .button {
  background-color: #a944ff;
  border-radius: 5px;
  padding: 8px 25px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.cf:before, .cf:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.cf:after {
  clear: both;
}
