@import "bourbon/bourbon"

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "Arial", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden



.hidden
	display: none

/* Base style*/
.container
	max-width: 960px
	padding: 0

ul
	padding: 0
	margin: 0
	li
		list-style-type: none	

.base-title
	text-transform: uppercase
	display: inline-block
	margin: 0

.title
	font-family: 'leaguegothic'
	color: #076e9f
	span
		color: #22aaec

.header-promo
	.flex-grid
		display: flex
		justify-content: space-between


.wrapper
	display: block
	width: 100%
	max-width: 1020px
	margin: 0 auto				

/* Header */
.header
	.top-line
		border-bottom: 3px solid #22aaec
		padding-top: 16px
		padding-bottom: 11px
		text-align: center
		position: relative
		.logo
			display: inline-block
			margin-bottom: 15px
		.social-list
			position: absolute
			display: inline-block
			width: 30%
			right: 0
			li
				display: inline-block
				a
					display: block
					padding: 0 2px
		.row
			padding: 0
			position: relative
		.main-menu
			li
				display: inline-block
				&.active
					a
						//background-color: #076a9b
						color: #fff
						border: 1px solid #045279
						background: linear-gradient(to bottom, #469bbf, #066698)
				a
					color: #707070
					padding: 6px 20px
					text-transform: uppercase
					font-size: 10px
					line-height: 18px
					display: block
					margin: 0 10px
					border: 1px solid transparent
					&:hover
						text-decoration: none
						background: linear-gradient(to bottom, #066698, #469bbf)
						color: #fff
						border: 1px solid #045279
						
.header-promo
	padding-top: 90px
	text-align: center
	background-image: url("../img/promo-bg.jpg")
	background-position:  top
	h1.main-title
		font-size: 60px
		line-height: 60px
		background-color: rgba(255,255,255, 0.7)
		margin-bottom: 20px
		padding: 15px 30px
		letter-spacing: 2px
	.sub-title
		font-size: 30px
		line-height: 30px
		background-color: rgba(255,255,255, 0.7)
		margin-bottom: 75px
		padding: 10px 15px

.header-feature
	background-color: rgba(0,0,0,0.7)
	padding: 25px 0
.feature-item
	background-color: rgba(255,255,255, 0.9)
	display: flex
	position: relative
	width: 100%
	max-width: 190px
	border-radius: 55px 0 0 55px
	&:nth-child(1)
		.feature-img
			background-image: url("../img/person1.png")
			background-position: center
	&:nth-child(2)
		.feature-img
			background-image: url("../img/person2.png")
	&:nth-child(3)
		.feature-img
			background-image: url("../img/person3.png")
	&:nth-child(4)
		.feature-img
			background-image: url("../img/person4.png")						
	.feature-img
		width: 71px
		height: 71px
		border-radius: 50%
		overflow: hidden
		position: absolute
		left: 0
		top: 0
		background-size: cover
		background-position: 20% 20%
	.feature-text
		text-align: left
		font-size: 9px
		padding: 7.5px
		padding-left: 90px
		color: #515151
		.text
			font-style: italic
			color: #828282

.content
	border-top: 3px solid #22aaec
	padding-top: 30px
.sidebar
	padding: 0
	.title
		text-transform: uppercase
		font-size: 22px
		font-family: 'leaguegothic'
		font-weight: bold
		line-height: 22px
		margin-bottom: 15px
	.about
		padding-bottom: 15px
		border-bottom: 1px dotted #ddd
		padding-right: 30px	
	.text
		font-size: 10px
		span
			color: #076e9f
	.post
		padding-top: 25px
		padding-bottom: 25px
		border-bottom: 1px dotted #ddd
		padding-right: 30px
	.currency
		padding-top: 25px
		padding-right: 30px
		padding-bottom: 25px
		//border-bottom: 1px dotted #ddd
		table
			.table-title
				td
					color: #fff
					background-color: #076e9f
			td
				background-color: #c7e9fa
				color: #076e9f
				text-align: center
				vertical-align: middle
				padding: 3px 10px
				border: 1px solid #fff
	

.post-item
	display: flex
	justify-content: space-between
	margin-bottom: 15px
	&:hover
		text-decoration: none
	.post-img
		display: block
		width: 55px
		height: 40px
		overflow-y: hidden
		img
			width: 100%
			max-width: 100%
	.comment
		display: flex
		.coment
			margin-right: 10px
		.text
			font-style: italic
			color: #5c5c5c
			font-size: 11px
	.post-title
		color: #5c5c5c
		font-weight: bold
		margin-bottom: 1px			

.content
	[class^="col-"]
	position: relative

// .main-content-wrap
// 	position: relative
// 	top: -50px
// 	background-color: #fff
.main-content
	position: relative
	top: -45px
	background-color: #fff
	border-left: 1px dotted #ddd
	//border-right: 1px dotted #ddd
	padding-left: 0
	padding-right: 0
	border-top: 3px solid #22aaec
	&:before
		content: ""
		position: absolute
		height: 45px
		width: 1px
		border-left: 1px dotted #ddd
		background-color: transparent
		bottom: -45px
		left: -1px
	[class^="col-"]
		padding: 0 
.content-top
	border-bottom: 1px dotted #ddd
	border-right: 1px dotted #ddd
	padding-left: 20px 
	.title
		text-transform: uppercase
		font-size: 32px
		font-weight: bold
		margin-bottom: 15px
	.flex-grid
		display: flex
		justify-content: space-between
		margin-left: 0
		padding-bottom: 30px
	.text
		font-size: 10px
		&.pr
			padding-right: 15px	
	.icon-wrap
		display: flex
		.icon
			display: inline-block
			width: 55px
			height: 55px
			padding: 12% 0
			margin-right: 10px
			border-radius: 50%
			background-color: #22aaec
			color: #fff
			text-align: center
			font-size: 9px
			font-weight: bold
			line-height: 10px
			&:nth-child(2)
				background-image: url("../img/men.png")
				background-position: 50% 110%
				background-repeat: no-repeat
	.likes-wrap
		background-color: #90d4f5
		width: 180px
		display: flex
		padding: 7px 10px
		justify-content: space-around
		position: relative
		position: relative
		right: 3px
		&:after
			content: ""
			position: absolute
			right: 0
			bottom: -10px
			border: 5px solid transparent
			border-left: 5px solid #076e9f
			border-top: 5px solid #076e9f
		a
			display: block
			display: flex
			.icon
				margin-right: 5px


a.more
	color: #707070
	padding: 6px 20px
	text-transform: uppercase
	font-size: 11px
	line-height: 18px
	display: block
	margin: 0 10px
	border: 1px solid transparent
	color: #fff
	border: 1px solid #045279
	background: linear-gradient(to bottom, #469bbf, #066698)
	margin-left: 20px
	text-transform: none
	font-weight: bold
	&:hover
		text-decoration: none
		background: linear-gradient(to bottom, #066698, #469bbf)
		color: #fff
		border: 1px solid #045279


.content-center
	display: flex
	padding: 20px 20px
	width: 100%
	padding-right: 0
	.flex-grid
		display: flex
		justify-content: space-between
		margin-left: 0
		padding-bottom: 30px
	.content-item
		background-color: #eaeaea
		width: 47%
		border-radius: 20px 0 0 0
		font-size: 10px
		position: relative
		z-index: 50
		display: flex
		flex-direction: column
		.more-span
			margin-bottom: 10px
			color: #076e9f
			cursor: pointer
		.box
			padding-top: 25px
			padding-left: 30px
			padding-right: 30px
		.title
			font-size: 22px
			line-height: 22px
			text-transform: uppercase
			font-weight: bold
		.posted
			margin: 10px 0
		.shadow
			width: 50%
			height: 20px
			background-color: red
			position: absolute
			bottom: 6px
			left: 3px
			z-index: -1
			box-shadow: 2px 8px 5px rgba(0,0,0, 0.4)
			transform: rotate(-2deg)
		.shadow2
			width: 50%
			height: 20px
			background-color: red
			position: absolute
			bottom: 6px
			right: 4px
			z-index: -1
			box-shadow: 2px 8px 5px rgba(0,0,0, 0.4)
			transform: rotate(2deg)	


.line-like
	padding: 8px 10px
	text-align: right
	background-color: #f4f3f3
	margin-top: auto
	a
		display: inline-block
		vertical-align: middle
		&:hover
			text-decoration: none
		div
			display: inline-block
			vertical-align: middle
			margin-right: 3px

.here
	display: block
	margin: 0 auto
	width: 95%
	margin-right: -4px
	margin-top: -15px
	padding: 35px 0
	text-align: center
	background-color: #f1f1f1
	font-size: 12px
	position: relative
	.shadow
		width: 50%
		height: 20px
		background-color: red
		position: absolute
		bottom: 6px
		left: 3px
		z-index: -1
		box-shadow: 2px 8px 5px rgba(0,0,0, 0.4)
		transform: rotate(-1deg)
	.shadow2
		width: 50%
		height: 20px
		background-color: red
		position: absolute
		bottom: 6px
		right: 4px
		z-index: -1
		box-shadow: 2px 8px 5px rgba(0,0,0, 0.4)
		transform: rotate(1deg)

.section-map
	border-top: 1px dotted #ddd
	padding-top: 10px
	.title
		font-size: 32px
		font-weight: bold
		padding-bottom: 20px

.map
	position: relative
	width: 100%
	height: 200px

#map
	width: 100%
	height: 200px
	margin-bottom: 20px
	border-top: 2px solid #eaeaea
	box-shadow: 0 1px 2px rgba(0,0,0,0.6)

footer
	padding-top: 10px
	.flex-grid
		padding-bottom: 10px
		border-bottom: 1px dotted #ddd
		//display: flex
	.bottom-menu
		width: 30%
		float: right
		text-align: right
		li
			display: inline-block
			vertical-align: top
			a
				color: #000
				text-transform: uppercase
				color: #707070
				font-size: 10px
				margin-left: 15px	
	.logo
		display: inline-block
		width: 100px
		img
			max-width: 100%

.copy
	padding: 10px 0 
	text-align: center
	color: #787878
	text-transform: uppercase
	font-size: 10px






/* Sprite */


// <div class="coment-blue"></div>
// <div class="coment-white"></div>
// <div class="coment"></div>
// <div class="f"></div>
// <div class="ins"></div>
// <div class="like-white"></div>
// <div class="like"></div>
// <div class="pi"></div>
// <div class="soc2"></div>
// <div class="tw"></div>
// <div class="arrow-green"></div>
// <div class="arrow-red"></div>
// <div class="soc1"></div>

.coment-blue, .coment-white, .coment, .f, .ins, .like-white, .like, .pi, .soc2, .tw, .arrow-green, .arrow-red, .soc1
	display: inline-block
	background: url('../img/sprite.png') no-repeat
	overflow: hidden
	text-indent: -9999px
	text-align: left

.coment-blue
	background-position: -10px -0px
	width: 16px
	height: 17px

.coment-white
	background-position: -10px -27px
	width: 16px
	height: 17px

.coment
	background-position: -10px -54px
	width: 16px
	height: 17px

.f
	background-position: -10px -81px
	width: 16px
	height: 16px

.ins
	background-position: -10px -107px
	width: 16px
	height: 16px

.like-white
	background-position: -10px -133px
	width: 16px
	height: 15px

.like
	background-position: -10px -158px
	width: 16px
	height: 15px

.pi
	background-position: -10px -183px
	width: 16px
	height: 16px

.soc2
	background-position: -10px -209px
	width: 16px
	height: 16px

.tw
	background-position: -10px -235px
	width: 16px
	height: 14px

.arrow-green
	background-position: -10px -259px
	width: 15px
	height: 11px

.arrow-red
	background-position: -10px -280px
	width: 15px
	height: 11px

.soc1
	background-position: -10px -301px
	width: 14px
	height: 17px					