/* Сброс стилей */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


/*---------------------------------------------------------------------*/
html {
    height: 100%;
}

body {
    background-color: #ebebeb;
    height: 100%;
    font: 14px/24px Arial ,Times, sans-serif;
}
ul, ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { /*Ануляция флоатов*/
  clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.text-left{text-align: left;}
.text-right{text-align: right;}


.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

@font-face {
    font-family:Nexa;
    src:url(../font/NexaFreeBoldwebfont.ttf);
}
@font-face {
    font-family:NexaL;
    src:url(../font/nexa_light-webfont.ttf);
}
/* Header Begin */
.header {
    background: #373737;
}
.logo a{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 67px;
    background: #f26c4f;
    color: #fff;
    font-size: 36px;
    font-family: Nexa;
    text-align:center;
}
.logo-b{
    display: block;
    margin-top: 15px;
}
.logo-text {
    padding-left: 20px;
    font-size: 18px;
    font-family: Arial;
    color: #fff;
}
.logo a:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    display: block;
    height: 0;
    width: 0;
    margin-top: -13px;
    border-top: 12px solid transparent;
    border-left: 12px solid #f26c4f;
    border-bottom: 12px solid transparent;
}
/* Header End */

/* Navigation Begin */
.nav{
    background: #474747;
}
.navigation li{
    display: inline-block;
}
.navigation a{
    position: relative;
    display: inline-block;
    padding: 25px 0;
    color: #fff;
    font-family: Nexa;
    font-size: 12px;
}


.active:after {
    content: "";
    position: absolute;
    display: block;
    height: 5px;
    bottom: 0;
    left: 0px;
    right: -2px;
    background: #f26c4f;
}
.navigation li a:hover:after {
    content: "";
    position: absolute;
    display: block;
    height: 5px;
    bottom: 0;
    left: 0px;
    right: -2px;
    background: #f26c4f;
}

.navigation li span {
    padding: 0 25px;
    border-right: 1px solid #767676;
}

/* Navigation End */

/* panel-header begin*/
    .panel-header {
        padding: 15px 0 10px;
    }
    input[type="text"]{
        padding: 15px;
        width: 300px;
        border: none;
        background: #fff url(../images/clock-.png) 265px center no-repeat;
        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
                box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
    .social {
        float: right;
    }

    .social a {
        display: inline-block;
        padding-left: 15px;
        margin-right: 25px;
        color: #8f8f8f;
        font-size: 12px;
    }
    .social a:last-child {
        margin-right: 0;
    }
     .social a:hover {
       text-decoration: underline;
    }
    .tw {background: url(../images/tw.png) 0px center no-repeat;}
    .f {background: url(../images/fas.png) 0px center no-repeat;}
    .rss{background: url(../images/rss.png) 0px center no-repeat;}
    .mail{background: url(../images/mail.png) 0px center no-repeat;}
/* panel-header begin*/
.feature-img {
    position: relative;
	  height: 390px;
    width: 630px;
    background: #f26c4f; 
    overflow: hidden;
}
.feature-img img {
    display: block;
    width: 100%;
    height: auto;
}
.caption {
    right: 0px;
    bottom: 1px;
	  width: 365px;
    position: absolute;
    background: rgba(0,0,0,.5);
}
.caption p {
    padding: 22px 0 22px 30px;
    font-family: NexaL;
    color: #fff;
    font-size: 16px;
}
.feature-txt {
	  height: 390px;
    width: 310px;
    padding: 45px 45px 0 35px;
    border-left: 10px solid #f26c4f;
    background: #373737;
}
.feature-txt h3 {
    position: relative;
    font-family: NexaL;
    font-size: 19px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 20px;
}
.feature-txt>p {
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 23px;
    color: #a7a7a7;
    padding-bottom: 15px;
}
.date {
	  float: right;
    padding-top: 5px;
    padding-left: 137px;
    background: 
        url(../images/clock2.png) 110px 5px no-repeat,
        url(../images/plus.png) 0px 5px no-repeat;
}
.feature-txt h3:before{
    content: "";
    position: absolute;
    top: 13px;
    left: -35px;
    display: block;
    height: 0;
    width: 0;
    margin-top: -13px;
    border-top: 12px solid transparent;
    border-left: 12px solid #f26c4f;
    border-bottom: 12px solid transparent;
}
/*===========================*/
/* Article Item */

.artical-item {
    position: relative;
	  width: 300px;
    height: 380px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 19px;
}
.artical-item:last-child {
    margin-right: 0;
}
.artical-item h3{
    font-family: Nexa;
    font-size: 25px;
    line-height: 31px;
    color: #4f4f4f;
    padding: 20px 0 20px 30px;
}
.artical-item p {
	  font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #646464;
    padding: 0 75px 30px 30px;
}
.banner {
    position: absolute;
    top: 0;
    right: 0;
	  width: 80px;
    height: 80px;
    width: 0;
    height: 0;
    border-top: 80px solid #f26c4f; 
    border-left: 80px solid transparent;
}
.banner:hover {
    border-top: 80px solid #373737; 
    border-left: 80px solid transparent;
}
.banner a{
    display: block;
    position: absolute;
    top: -80px;
    right: 5px;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-family: Tahoma;
}
/* Article Item END */
.sidebar {
	  width: 300px;
    height: auto;
}
.content {
    margin-right: 320px;
}

.news-bl {
    position: relative;
    background: #373737;
    color: #fff;
}
.news-bl img {
   width: 300px;
    height: 295px;
}
.news-bl h3{
    font-family: Nexa;
    font-size: 25px;
    line-height: 31px;
    color: #fff;
    padding: 20px 0 10px 30px;
}
.news-bl p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    padding: 0 35px 40px 30px;
}

/* Content */
.news-item {
	  background: #fff;
    border-left: 5px solid #f26c4f; 
    margin-bottom: 11px;
    padding: 35px 0 40px 30px;
}
.news-item.selected {
    background: #f26c4f;
    border-left: 5px solid #ce4e32;
}

h4.title-news {
	  font-family: Nexa;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
    
}
.title-news a {
    color: #474747;
}
.news-item.selected a {
    color: #fff;
}

.news-item p{
	  font-family: Nexa;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
}
.news-item.selected p {
   color: #fff;
}
.news-panel {
    font-family: NexaL;
	  font-size: 10px;
    font-style: italic;
    color: #8f8f8f;
    margin-bottom: 10px;
}
.news-item.selected span{
    color: #fff;
}
.news-panel span {
	  display: inline-block;
    vertical-align: middle;
}
.separat {
	  margin: 0 30px;
    height: 21px;
    width: 1px;
    background: #DEDEDE;
}
.rate {
	  width: 65px;
    margin-right: 5px;
    vertical-align: top;
}
.rate span {
    height: 14px;
	  background: url(../images/star.png)  repeat-x;
}
.selected .rate span {
    height: 14px;
    background: url(../images/star2.png)  repeat-x;
}

.news-item-article {
    background: #fff;
    margin-bottom: 20px;
}
.news-item-article h4 {
    font-family: Nexa;
    font-size: 30px;
    line-height: 35px;
    color: #707070;
    padding: 30px 25px 20px 45px;
}
.news-item-article p {
    font-family: NexaL;
    font-size: 14px;
    line-height: 24px;
    padding: 0px 25px 60px 45px;
}

.footer-menu {
    background: #474747;
}
.footer-menu .navigation a {
	padding: 21px 0;
}
.footer {
    background: #373737;
}
.footer-menu-b li a {
    display: block;
    float: left;
    color: #fff;
    padding: 30px 0 20px 0; 
    margin-right: 20px;
    font-family: Helvetica;
    font-size: 12px;
}
.footer-copy p {
    font-family: Helvetica;
    font-size: 11px;
    line-height: 21px;
    color: #7e7e7e;
    margin-bottom: 30px;
}