/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.page-callout .button-holder {
    width: 100%;
  }

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {



}

/* Small Devices, Tablets */
@media only screen and (max-width : 740px) {

  .wrapper {
    margin-top: -1%;
  }
  .slider .bx-wrapper .bx-controls {
    display: none;
  }
  .one-third {
    float: left;
    width: 100%;
    margin: 4% 0;
  }
  .one-third i {
    font-size: 355%;
  }
  .call {
    width: 100%;
  }
  h1 {
    font-size: 125%;
    letter-spacing: 2px;
  }
  h2.welcome {
    font-size: 120%;
  }
  .left-col {
    width: 100%;
    margin: 0 0 3% 0;
  }
  .sidebar {
    width: 100%;
    float: none;
    margin: 0;
  }
  .sidebar img {
    opacity: .9;
  }
  img {width: 100%;}

  .page-callout {
    width: 90%;
    min-height: 170px;
  }
  .page-callout .callout-text {
    width: 95%;
    margin-bottom: 3%;
  }
  .page-callout .button-holder {
    width: 100%;
    padding: 1%;
    text-align: center;
  }
  .btn {
    float: none;
  }
  .copyright {
    text-align: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 .call {
    width: 100%;
    text-align: center;
  }
  .call p {
    font-size: 14px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
