/* Symbol Nerds */

.icon-basket:before {
  content: '\62';
  color: #a6a6a6;
}
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
/* Symbol Nerds */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a, a:hover {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { /*Ануляция флоатов*/
  clear: both;
}
.left {float: left;}
.right {float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
/* Сброс стилей */

/* Main styles */
html {height: 100%;}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 22px;
  font-size: 16px;
  height: 100%;
  background: #fff;
  color: #283136;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5 {
  font-weight: 700;
  color: #000;
}
/* Main styles end */

/* Header start */
.main-header {
  background: #eeeeee;
}

/* Logo */
.logo {
  float: left;
  display: inline-block;
  width: 140px;
  height: 58px;
  margin-top: 25px;
}

/* Navigation */
nav{
  float: right;
  margin-top: 50px;
}
.main-menu li {
	display: inline-block;
  margin-right: 40px;
}
.main-menu li:last-child {
  margin-right: 60px;
}
.main-menu a {
	display: inline-block;
  line-height: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
.main-menu .current {
  border-bottom: 3px solid #fb565a;
}
.main-menu a:hover,
.basket a:hover{
  color: #fb565a;
}
.main-menu a:active,
.basket a:active{
  color: #a6a6a6;
}
/* Basket */
.basket  {
	display: inline-block;
  float: right;
  margin-top: 50px;
}
.basket a {
  line-height: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

/* Slider start */
.slider {
  position: relative;
	width: 100%;
  height: 352px;
}
.slide-1,
.slide-2,
.slide-3 {
  max-width: 100%;
  display: block;
  float: right;
  margin-top: 40px;
}
    /*Slide descr*/
.slide-descr h2 {
	font-size: 32px;
  line-height: 32px;
  padding: 65px 0 20px 0;
}
.slide-descr p {
	padding-bottom: 25px;
}
.slide-btn {
	display:inline-block;
  background: #fb565a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 70px;
  border-radius: 5px;
  z-index: 9999;
  z-index: 10000;
}
.slide-btn:hover {
  background: #d6494d;
  cursor: pointer;
}
.slide-btn:active {
  background: #b63538;
}
/* Slider end */
/* Header end */

/* Main start here */
  /* section Servises */
.servises {
	margin-top: 80px;
}
.servises a {
	display: inline-block;
}
.servises div{
  display: inline-block;
	max-width: 240px;
  margin-right: 66px;
  margin-bottom: 80px;
}
.servises div:last-child {
  margin-right: 0;
}
.servises h2{
	text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0;
}
.servises p {
	padding-bottom: 15px;
}
.servises .s-btn {
	padding: 11px 40px;
  background: #fb565a;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.servises .s-btn:hover {
  background: #d6494d;
}
.apps .s-btn {
  background: #00ca74;
}
.apps .s-btn:hover {
  background: #01a25e;
}
.presentation .s-btn {
  background: #efc84a;
}
.presentation .s-btn:hover {
  background: #c09b24;
}
  /* Section advantage */
.advantage {
	padding-top: 60px;
  padding-bottom: 65px;
}
.since {
	width: 240px;
  float: right;
}
.since img{
	display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
.since span {
  position: relative;
  display: block;
	text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 68px;
}
.since span::before,
.since span::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 2px;
  background: #eeeeee;
}
.since span::before {
  left: 0;
  top: 45%;
}
.since span::after {
  right: 0;
  top: 45%;
}

    /* class studio */
.studio {
	float: left;
}
.studio h2 {
	font-size: 36px;
  line-height: 36px;
  padding-bottom: 20px;
}
.studio-des {
	padding-bottom: 45px;
}
.studio h3,
.since h3  {
	font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.line {
  position: relative;
	padding: 8px 0 8px 35px;
}
.line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 45%;
  width: 25px;
  height: 2px;
  background: #fb565a;
}
  /* Partners block */
.partnert {
	height: 170px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}
  .partnert div {
    padding-top: 40px;
    padding-left: 20px;
	  display: inline-block;
    vertical-align: middle;
    width: 33%;
    opacity: .3;
}
.partnert div:hover {
  opacity: 1;
}
/* Main end */

/* Map */
.map {
  height: 415px;
}
.map .container {
	position: relative;
}
.contact {
  position: absolute;
  top: -330px;
  left: 10px;
	width: 240px;
  height: 240px;
  padding: 25px 0 25px 20px;
  background: #fff;
  border-radius: 4px;
  z-index: 5;
}
.contact span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding-bottom: 20px;
}
.contact .tell{
	padding: 20px 0;
}
.contact #btn{
	display: inline-block;
  padding: 10px 50px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  background: #fb565a;
}
.marker {
  position: absolute;
  top: -330px;
  right: -20px;
	width: 220px;
  height: 190px;
}

/* Footer */
.sale {
  margin-right: -10px;
  float: right;
  padding: 40px 0;
}
.sale h4 {
	padding: 15px 0;
  font-size: 35px;
}
.social {
	display: inline-block;
  float: left
}
.social a {
  display: inline-block;
	width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background: #e1e1e1;
  border-radius: 50%;
  font-size: 23px;
  margin-top: 50px;
  margin-right: 25px;
}
.social a:hover {
  background: #fb565a;
}
.social a:active {
  background: #d6494d;
}
/*==================================================================*/

/* Magazine Page */
.magazine {
  background: #fff;
}
.welcome h2 {
	padding: 70px 0 80px 0;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

/* Sidebar start */
.sidebar {
  width: 240px;
  float: left;
  height: auto;

}

  /*Slider Range start */
.slider-wrraper {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.s-tittle,
.c-tittle {
  display: block;
	font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;

}
.slider-wrraper span {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 10px 0 5px;;
}

.masonry {
  width: 240px;
  height: 80px;
  margin-bottom: 30px;
  background: #f1f1f1;
  border-radius: 5px;
}
.masonry-in input {
  width: 80px;
  height: 40px;
  text-align: center;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f1f1f1;
  font-size: 15px;
  color: #283136;
}

.ui-slider {
  position: relative;
  top: 50%;
  text-align: left;
  margin-bottom: 0px;
}


/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 5px;
  height: 5px;
  color: #f1f1f1;
  cursor: default;
  cursor:pointer;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {
  height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -10px;
  margin-left: -.6em;
  width: 5px;
  height: 5px;
  color: #000;
  border: 8px solid #fff;
  box-sizing: content-box;
  background: #ababab;
  border-radius: 50%;

}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
  width: 180px;
  margin: 0 auto;
  font-family: Verdana,Arial,sans-serif;

}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {

}

/* 
----------------------------------*/
.ui-widget-content {
  margin-top: 10px;
  background: #d7dcde;
  color: #222222;
}
.ui-widget-content a {color: #00ca74;}

/* 
----------------------------------*/
.ui-widget-header {
  background: #00ca74;
  color: #222222;
}
.ui-widget-header a {color: #222222;}

/* 
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #ababab;
  -webkit-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
  -ms-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
  -o-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
  box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  outline: none;
}
  /*Slider Range end */
.grid {
	margin-bottom: 45px;
}
.grid label {
  margin-bottom: 13px;
}
.grid label span {
  font-weight: 100;
  font-size: 16px;
  color: #000;
}
.grid input {
	margin: 0 10px 15px 0;
}
.grid input[type="checkbox"]{
	display: none;
}
.grid input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.grid input[type="checkbox"] + label::before {
  content: '\25cb';
  font-family: 'symbols-nerds';
  display: inline-block;
  color: #c1c1c1;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 25px;

}
.grid input[type="checkbox"]:checked + label::before{
  content: '\25cf';
  color: #c1c1c1;
}

/* features */
.features label {
  margin-bottom: 13px;
}
.features label span {
  font-weight: 100;
  font-size: 16px;
  color: #000;
}
.features input {
  margin: 0 10px 15px 0;
}
.features input[type="checkbox"]{
  display: none;
}
.features input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.features input[type="checkbox"] + label::before {
  content: '\2610';
  font-family: 'symbols-nerds';
  display: inline-block;
  width: 27px;
  height: 27px;
  color: #c1c1c1;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 25px;

}
.features input[type="checkbox"]:checked + label::before{
  content: '\2611';
  color: #c1c1c1;
}
/* Sidebar end */

/* Content start */
.content {
	margin-left: 320px;
  margin-top: 72px;
}
.content-sort {
	height: 27px;
}
.content-wrrap {
	margin-top: 10px;
}
/**/
.c-item {
  display: inline-block;
  margin-right: 55px;
  margin-bottom: 80px;
  position: relative;
	width: 240px;
  height: 270px;
  box-sizing: border-box;
  background: #f1f1f1;
  border-radius: 5px 5px 0 0;
}
.c-item:nth-child(2n) {
  margin-right: 0;
}
.c-item:hover  {
  display: inline-block;
  background: #797979;
}
.item-head {
	height: 20px;
}
.item-head span{
	display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 8px 0 0 5px
}
.c-item img {
  display: block;
  margin-top: 3px;
  width: 240px;
  height: 240px;
}
.img-descr {
  display: inline-block;
  position: absolute;
  opacity: 0;
  top:50px;
  left:20px;
  width: 200px;
  height: 200px;
  padding: 30px;
  background: #fff;
  z-index: 100;
}
.img-descr:hover {
  opacity: 1;
  transition: all .5s ease-in;
}

.img-descr h4 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.img-descr p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}
.item-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background: #fb565a;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
.item-btn:hover {
  background: #d6494d;
  cursor: pointer;
}
/**/
.sort .c-tittle {
	font-size: 12px;
}
.sort li{
  float: left;
  margin-right: 40px;
}
.sort a {
	padding: 5px 0;
  font-weight: 500;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px dotted green;
}
.sort a:hover {
  color: #000;
}
.arrow {
	display: inline-block;
  float: right;
}
.arrow span{
	display: inline-block;
  width: 17px;
  font-size: 18px;
  color: #c1c1c1;
  cursor: pointer;
}
.arrow span:first-child{
  color: #00ca74;
}
 /* Work company block */

/* Page navigaton */
.navig-page {
	margin-bottom: 70px;
}
.navig-page a {
	display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 5px;
  color: #000;
  background: #f1f1f1;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  text-align: center;
}
.navig-page a:hover {
  background: #d5d5d5;
}
.navig-page .cured {
  background: #fff;
  border: 2px solid #f1f1f1;
}
.navig-page .nav-btn {
	width: 140px;
}
/* Content end */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6
}

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 630px;
  height: 420px;
  background: #fff;
  position: absolute;
  z-index: 101;
  box-sizing:border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 30px rgba(0,0,0,.4);
  -webkit-box-shadow: 5px 5px  30px rgba(0,0,0,.4);
  -box-shadow: 5px 5px 30px rgba(0,0,0,.4);
}
#myModal {
  padding: 50px 80px 45px 80px;
  box-sizing:border-box;
}

.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
  cursor: pointer;
}
form {
  width: 460px;
  box-sizing: border-box;
}
#myModal input[type="text"],
#myModal input[type="email"] {
  width: 220px;
  height: 38px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
}
label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  padding: 0px 0 3px 5px;
  text-transform: uppercase;
}
::-moz-placeholder  {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  padding: 0px 0 3px 5px;
  text-transform: uppercase;
}
label.right{
  float: right;
}
label.left {
  float: left;
}
textarea {
  width: 453px;
  height: 110px;
  font-weight: 400;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  resize: none;
  margin-bottom: 45px;
}
.f-btn {
  width: 220px;
  height: 40px;
  border:none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

button[type="submit"] {
  margin-right: 15px;
  background: #fb565a;
  color: #fff;
}
button[type="submit"]:hover {
  background: #d6494d;
}

/* Modal window */

iframe {
  width: 100%;
  height: 415px;
}
