/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;

}
.clear {
    content: " ";
    clear: both;
    display: table;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #f0f0f0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
}
h1, h2, h3, h4 {
    font-family: 'Questrial', sans-serif;
}
h1 {
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    margin: 2%;
    margin-top: 4%;
    padding: 2% 0;
}
h2 {
    text-decoration: underline;
    line-height: 280%;
    padding-left: 2%;
}
h3 {
    line-height: 110%;
    padding: 2% 0;
}
p {
    padding: 1%;
}


/*Logo*/
.logo {
    display: inline-block;
}
.logo img {
    width: 200px;
    height: auto;
}
/*Header*/
header, .large , .mobile{
    background-color: #405580;
    width: 100%;
    height: 110px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header.large .logo img{
    width: 200px;
    height: auto;
    margin-left: 20px;
    float: left;
}
header.mobile li{
    margin-top: 35px;
}
header.mobile .logo img{
    width: 200px;
    height: auto;
    margin-left: 20px;
    float: left;
}
header.mobile li{
    margin-top: 35px;
}
/* size small meu */
header.small{
    height: 60px;
    opacity: 0.90;
}
header.small .logo img {
    width: 100px;
    height: auto;
    margin-left: 30px;
/*    margin-top: -10px; */
}
header.small li{
    margin-top: 12px;
}
header,nav, a, img, li{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}

/*Navigation*/
nav {
    float: right;
}

nav ul li  {
    display: inline-block;
}
nav ul li a {
    display: inline-block;
    padding: 8px 20px;
}
nav .current {
    text-decoration: underline;
}
.menu-icon {
    display: hidden;

}
.menu-icon .fa {
    font-size: 30px;
    position: absolute;
    right: 5%;
    top: 23%;
    display: none;
}

/* Slider */

#doc {
    margin: 40px 0;
}
.content {
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 120px;
}
.blueberry {
    max-width: 960px;
}
.slides  {
-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
/*Slider end*/

section.item {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}
section.item p {
    padding: 0 5%
}

section .icon-item {
    margin: 0 auto;
}

section img {
    box-shadow: 0 5px 12px -6px #333;
}

article {
    float: left;
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 3%;
}
aside {
    float: right;
    margin: 0 auto;
    width: 35%;
    height: auto;
    padding: 3%;
}

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: auto;
}
footer p,h3 {
    opacity: 0.7;
}
footer.second {
    padding: 2% 0;
    border-top: 1px solid #222;
    text-align: center;
    background-color: #222;
}
.second p {
    opacity: 0.7;
    margin: 0;
    padding: 0;
}


footer section {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}



.icon-item {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #222;
    border-radius: 50%;
}
.icon-item .fa {
    color: #fff;
    font-size: 40px;
    line-height: 100px;
}

/*Social*/
.social li {
    display: inline-block;
    margin-bottom: 15px;
}
.social li a  {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    border: 3px solid #fff;
    text-align: center;
    box-shadow: 0 2px 5px  #222;
}
.social li:nth-child(3) a {
    background-color: #e53935;
}
.social li:nth-child(2) a {
    background-color: #41abe1;
}
.social li:first-child a {
    background-color: #425f9c;
}
.social li:last-child a {
    background-color: #e62117;
}
.social .fa {
    color: #fff;
    font-size: 25px;
    line-height: 50px;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 478px) {


}
@media screen and (max-width: 600px) {
    footer section {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    footer section img {
        display: none;
    }
}

@media screen and (max-width: 740px) {

    header {
        position: absolute;
    }
    header.large, header.small {
        display: none;
    }
    header.mobile {
        display: block;
    }
    nav ul {
        display: none;
        position: absolute;
        background-color: #405580;
        border: 1px solid #fff;
        right: 20px;
        top: 60px;
        width: 50%;
        opacity: 1;
    }


    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    header.mobile li{margin-top: 0;}

    .menu-icon .fa {
        display: block;
    }

    section.item{
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    article,aside {
        float: left;
        width: 100%;
    }
    aside {
        text-align: center;
    }

}



@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
